[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application;System
Categories=System
Terminal=true
Exec=sudo /bashscript/fedora/update.sh
Name=Fedora Updater
GenericName=Update Everything on the System
Icon=/usr/share/pixmaps/fedora-logo-sprite.png

#create symlink in ~/.local/share/applications
